
.no-padding {padding: 0;} .no-margin {margin: 0;}
.mdl-badge {cursor: pointer;}
a:focus, button:focus, i:focus {outline: none;}
.notifications-dropdown.mdl-list .mdl-list__item {font-size: 14px;font-weight: 100;}
.notifications-dropdown.mdl-list .mdl-list__item .mdl-list__item-avatar {padding: 8px;text-align: center; }
.notifications-dropdown.mdl-list .mdl-list__item .mdl-list__item-avatar .material-icons {vertical-align: top; }
.notifications-dropdown.mdl-list .mdl-list__item:last-child {padding-top: 8px;padding-bottom: 0; }
.settings-dropdown {width: 135px; }
.settings-dropdown .mdl-menu__item, .settings-dropdown a {font-family: "Roboto", "Helvetica", "Arial", sans-serif;font-size: 14px;font-weight: 100;}
